<h1 class="topper">New auto</h1>

<%= render 'form' %><%= 
link_to 'Back', autos_path %>

	<p>
		<div class="auto-left"><%= image_tag "http://media.treehugger.com/assets/images/2011/10/renault-fluence-electric-car-photo1.jpg" %></div>
		</p>